page-cadastro {
    .cadastro{
        background-color: #FFCD73;
    }
    .form{
        color: darkgoldenrod;
        font-weight: bold;
    }
    .salvar{
        background-color: darkgoldenrod;
        color: black;
        font-weight: bold;
    }
    .conteudo{
        color: darkgoldenrod;
    }

}
