<ion-header>

  <ion-navbar>
    <ion-title>cadastro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="cadastro" padding>
  <form [formGroup]="formCliente">

    <ion-item class="cadastro">
      <ion-label class="form" stacked>Nome</ion-label>
      <ion-input class="conteudo" type="text" formControlName="nome"></ion-input>
    </ion-item>
    <ion-item *ngIf="!formCliente.controls.nome.valid && (formCliente.controls.nome.dirty || formCliente.controls.nome.touched)" color="danger">
      <div [hidden]="!formCliente.controls.nome.errors.required">
        O Campo é Obrigatório!
      </div>
    </ion-item>

    <ion-item class="cadastro">
      <ion-label class="form" stacked>Endereço</ion-label>
      <ion-input class="conteudo" type="endereco" formControlName="endereco"></ion-input>
    </ion-item>
    <ion-item *ngIf="!formCliente.controls.endereco.valid && (formCliente.controls.endereco.dirty || formCliente.controls.endereco.touched)" color="danger">
      <div [hidden]="!formCliente.controls.endereco.errors.required">
        O Campo é Obrigatório!
      </div>
    </ion-item>

    <ion-item class="cadastro">
      <ion-label class="form" stacked>Numero</ion-label>
      <ion-input class="conteudo" type="numeroEnd" formControlName="numeroEnd"></ion-input>
    </ion-item>
    <ion-item *ngIf="!formCliente.controls.numeroEnd.valid && (formCliente.controls.numeroEnd.dirty || formCliente.controls.numeroEnd.touched)" color="danger">
      <div [hidden]="!formCliente.controls.numeroEnd.errors.required">
        O Campo é Obrigatório!
      </div>
    </ion-item>

    <ion-item class="cadastro">
      <ion-label class="form" stacked>Bairro</ion-label>
      <ion-input class="conteudo" type="bairro" formControlName="bairro"></ion-input>
    </ion-item>
    <ion-item *ngIf="!formCliente.controls.bairro.valid && (formCliente.controls.bairro.dirty || formCliente.controls.bairro.touched)" color="danger">
      <div [hidden]="!formCliente.controls.bairro.errors.required">
        O Campo é Obrigatório!
      </div>
    </ion-item>

    <ion-item class="cadastro">
      <ion-label class="form" stacked>Telefone</ion-label>
      <ion-input class="conteudo" type="telefone" formControlName="telefone"></ion-input>
    </ion-item>
    <ion-item *ngIf="!formCliente.controls.telefone.valid && (formCliente.controls.telefone.dirty || formCliente.controls.telefone.touched)" color="danger">
      <div [hidden]="!formCliente.controls.telefone.errors.required">
        O Campo é Obrigatório!
      </div>
    </ion-item>

    <ion-item class="cadastro">
      <ion-label class="form" stacked>E-mail</ion-label>
      <ion-input class="conteudo" type="email" formControlName="email" #email></ion-input>
    </ion-item>
    <ion-item *ngIf="!formCliente.controls.email.valid && (formCliente.controls.email.dirty || formCliente.controls.email.touched)" color="danger">
      <div [hidden]="!formCliente.controls.email.errors.required">
        O Campo é Obrigatório!
      </div>
    </ion-item>

    <ion-item class="cadastro">
      <ion-label class="form" stacked>Senha</ion-label>
      <ion-input class="conteudo" type="password" formControlName="senha" #senha></ion-input>
    </ion-item>
    <ion-item *ngIf="!formCliente.controls.senha.valid && (formCliente.controls.senha.dirty || formCliente.controls.senha.touched)" color="danger">
      <div [hidden]="!formCliente.controls.email.errors.required">
        O Campo é Obrigatório!
      </div>
    </ion-item>

    <div padding>
      <button class="salvar" ion-button block type="submit" [disabled]="!formCliente.valid" (click)="teste()">Salvar</button>
    </div>

  </form>

</ion-content>