page-login {
    .login{
        background-color: black;
        color: darkgoldenrod;
    }
    .acessar{
        background-color: darkgoldenrod;
        color: black;
        font-weight: bold;
    }
    .ntc{
        color: darkgoldenrod;
    }
    .google{
        background-color: red;
    }
}
