page-login {
    .login{
        background-color: #FFCD73;
        color: black;
    }
    .acessar{
        background-color: darkgoldenrod;
        color: black;
        font-weight: bold;
    }
    .ntc{
        color: black;
        font-weight: bold;
        font-size: medium;
    }

    .icon{
        margin: 10px;
    }
}
