page-exibe-produtos {
    .produto{
        background-color: black;
    }

    .segment{
        color: darkgoldenrod;
    }

    .botoes{
        color: darkgoldenrod;
    }

    .txt{
        width: 400px;
    }
}
