page-exibe-produtos {
    .produto{
        background-color: #FFCD73;
    }

    .segment{
        color: darkgoldenrod;
    }

    .botoes{
        color: darkgoldenrod;
    }

    .txt{
        width: 400px;
    }

    .sel{
        background: #FFCD73;
        color: black;
        font-weight: bold;
    }

}
