page-home {
    .home{
        background-color: #FFCD73;
    }
    .img{ 
       margin-left: 8%;
    }
    .orientacao{
        color: black;
        text-justify: auto;
        font-size: 20px;
    }
    .but{
        color: black;
        font-weight: bold;
        background-color: darkgoldenrod;
    }

    .icon{
        margin: 10px;

    }
}
