page-home {
    .home{
        background-color: black;
    }
    .img{ 
       margin-left: 8%;
    }
    .orientacao{
        color: white;
        text-justify: auto;
        font-size: 20px;
    }
    .entrar{
        color: black;
        font-weight: bold;
        background-color: darkgoldenrod;
    }
}
